body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.go-to-top {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    padding-top: 15px;
    display: none;
}

.go-to-top-btn {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    border: 1px solid #007bff;
    border-radius: 50%;
}
